# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.env

# IDE specific
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store
Thumbs.db
/pdf_extract
/docx_extract
